:root {
  --color-lightgreen: #B7FEC6;
  --color-lightblue: #B7FAFE;
  --color-blue: #2232FF;
  --color-green: #B7FEC6;
  --color-yellow: #FFFC8C;
  --color-pink: #FFF3F9;
  --color-white: #ffffff;
}
